NODE_ENV=development

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=changeme
DB_PASSWORD=changeme
DB_NAME=optilacteo_dev

PORT=3000
FRONTEND_URL=http://localhost:5173

JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=45m
REFRESH_TOKEN_EXPIRES_DAYS=7
REFRESH_TOKEN_EXPIRES_DAYS_REMEMBER_ME=30
SMTP_USER=
SMTP_PASS=